<footer id="home_footer" style="width:100%;overflow: hidden;text-align: center">
    <!--背景-->
    <div style="position: absolute;margin-top: 0;width: 100%;">
        <img style="position: relative;left:-8%;z-index: -5;width: 108%;" src="images/tp_home/底栏背景.png">
    </div>
    <!--背景-->
    <div style="position: absolute;margin-top: 350px;margin-left: 5%;">
        <img style="width: 300px;" src="images/tp_home/logo（底）.png">
    </div>
    <div style="position: absolute;margin-left: 60%;margin-top: 150px;text-align:center">
        <p style="color: #FFFFFF;font-size: 40px;margin-bottom:15px">
            关于我们
        </p>
        <p style="color: #FFFFFF;font-size: 25px;line-height: 83px">
            工作照<br>
            意见反馈<br>
            联系方式
        </p>
    </div>
    <div style="position: absolute;margin-left: 80%;margin-top: 150px;text-align:center">
        <p style="color: #FFFFFF;font-size: 40px;margin-bottom:15px">
            友情链接
        </p>
        <p style="color: #FFFFFF;font-size: 25px;line-height: 83px">
            舟山网<br>
            中国海洋文化在线<br>
            舟山海洋数字图书馆
        </p>
    </div>
    <div style="margin:550px 0 auto;color: white;font-family: 'Source Han Sans CN'">
        <p style="margin-bottom: 15px;">Copyrigt©2019&nbspAll&nbspRights&nbspReserved</p>
    </div>
</footer>