{{css "/css/base.css"}}
{{css "/css/su.css"}}
{{css "/css/auth.css"}}

<!--字体-->
<div class="case_00">
    <div id="nav_content" class="case_01">
        <div>
            <img src="images/tp_su/1.jpg" style="position: relative;width:100%;margin-top: -28%">
        </div>
    </div>
    <!--节俗-->
    <div class="case_011">
        <!--标题-->
        <div class="biaoti">
            <p>—— 节俗 ——</p>
        </div>
        <!--标题-->
        <!--内容-->
        <div class="sua">
            <img style="position:absolute;margin-top: 245px;" src="images/tp_su/youjian.png">
            <div style="position:absolute;left:0;right:0;margin: 0 auto;width: 1530px;height:fit-content;/*border: 2px solid cadetblue*/;">
                <img src="images/tp_su/sua01.png">
                <img src="images/tp_su/sua02.png">
                <img src="images/tp_su/sua03.png">
                <img src="images/tp_su/sua04.png">
                <img src="images/tp_su/sua01.png">
                <img src="images/tp_su/sua02.png">
            </div>
            <img  style="position:absolute;margin-top: 245px;right: 0" src="images/tp_su/zuojian.png">
        </div>
        <!--内容-->
    </div>
    <!--节俗-->
    <!--习俗-->
    <div class="case_02">
        <!--标题-->
        <div class="biaoti" style="margin-top: -80px">
            <p>—— 习俗 ——</p>
        </div>
        <!--标题-->
        <!--内容-->
        <div class="sub">
            <div style="position: absolute;width: 810px;height: 620px;left: 60px/*border: 2px solid cadetblue*/">
                <img src="images/tp_su/sub00.png">
                <p style="font-size:26px;color:rgba(92,90,90,1);margin-left: 300px;font-weight: 600">扬龙威之龙信仰</p>
                <p style="font-size:20px;color:rgba(92,90,90,1);text-indent:2em">
                    舟山渔家日常生活中的扬龙威之龙信仰风俗，
                    在渔家生活中无处不有。例如渔家后生 和渔家姑娘结婚，
                    男家迎娶前的晚宴称为“龙聚饭”，意即龙凤相聚，家道兴隆。
                    打了 新船要祭拜海神，妇女不准上船以免将晦气带到船上等等。
                </p>
            </div>
            <div style="position: absolute;width: 810px;height: 580px;right: 60px;margin-top: 20px;/*border: 2px solid cadetblue;*/overflow: hidden">
                <div style="width: 810px;height: 620px/*;border: 5px solid #ff8268*/">
                    <div style="margin-top: -80px">
                        <img src="images/tp_su/sub01.png">
                        <img style="margin-left: 20px" src="images/tp_su/sub02.png">
                        <img style="margin-left: 0px;margin-top: 20px" src="images/tp_su/sub03.png">
                        <img style="margin-left: 20px;margin-top: 20px" src="images/tp_su/sub04.png">
                        <img style="margin-left: 0px;margin-top: 20px"src="images/tp_su/sub05.png">
                        <img style="margin-left: 20px;margin-top: 20px" src="images/tp_su/sub06.png">
                    </div>
                </div>
            </div>
            <div style="position: absolute;right: 50px;width:10px;height:500px;/*border: 2px solid #69f7ff*/">
                <img src="images/tp_su/huadongxian.png">
            </div>
        </div>
        <!--内容-->
    </div>
    <!--习俗-->
    <!--祭祀-->
    <div class="case_03">
        <!--标题-->
        <div class="biaoti" style="margin-top: -30px">
            <p>—— 祭祀 ——</p>
        </div>
        <!--标题-->
        <!--内容-->
        <div class="suc">
            <!--遮罩+文字-->
            <div style="position: absolute;left: 50px;top: 13px;width: 803px;height: 441px;background:rgba(0,0,0,1);opacity:0.41;z-index: 10">
            </div>
            <div style="position: absolute;z-index: 20;left:353px;top:165px;font-size: 26px;color: #FFFFFF">
                同归域公祭活动
            </div>
            <div style="position: absolute;z-index: 20; left:143px;top:214px;font-size:20px;color: #FFFFFF;width: 617px;text-indent: 2em">
                2019年3月30日，在定海同归域，社会各界组织了一场公祭活动。“水火刀兵顷刻，忠孝节义千秋”。
            </div>
            <!--遮罩+文字-->
            <img style="position: absolute;left: 35px" src="images/tp_su/suc01.png">
            <img style="position: absolute;right:35px" src="images/tp_su/suc02.png">
        </div>
        <!--内容-->
    </div>
    <!--祭祀-->
    <!--传说-->
    <div class="case_04">
        <!--标题-->
        <div class="biaoti" style="margin-top: 10px">
            <p>—— 传说 ——</p>
        </div>
        <!--标题-->
        <!--内容-->
        <div class="sud">
            <!--遮罩+文字-->
            <div style="position: absolute;left: 40px;top: 10px;width: 400px;height: 400px;background:rgba(0,0,0,1);opacity:0.41;z-index: 10">
            </div>
            <div style="position: absolute;z-index: 20;left:200px;top:145px;font-size: 26px;color: #FFFFFF">
                桃花岛
            </div>
            <div style="position: absolute;z-index: 20; left:83px;top:194px;font-size:18px;color: #FFFFFF;width: 317px;text-indent: 2em">
                小龙女故事与桃树、桃花、桃子有关，以是它 的故事配景选择在桃花岛上展开。
            </div>
            <!--遮罩+文字-->
                <img src="images/tp_su/传说1.jpg" style="width: 23%;height:80%;margin-left: 40px" >
                <img src="images/tp_su/xi2.jpg" style="width: 23%;height:80%">
                <img src="images/tp_su/传说2.jpg" style="width: 23%;height:80%">
                <img src="images/tp_su/xi3.jpg" style="width: 23%;height:80%">
        </div>
        <!--内容-->
    </div>
    <!--传说-->
</div>
</div>
{{js "/js/base.js"}}
