{{css "/css/user.css"}}
<div id="use_inner_content" class="modal_content">
    <div class="sort-bar">
        <div class="sort-top">
            <ul>
                <li data-id="0" class="sort-li">
                    <a href="#" class="sort-a-active">
                        作品
                    </a>
                </li>
                <li data-id="1" class="sort-li">
                    <a href="#" class="sort-a">
                        故事
                    </a>
                </li>
                <li data-id="2" class="sort-li">
                    <a href="#" class="sort-a">
                        教学
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-contentbox">
        暂无收藏
    </div>
</div>