{{css "/css/user.css"}}
<a id="user-create" href="#" class="create">
    <img style="width: 50px;display: inline-block;height: 50px" src="images/tp_user/我的发布.png">
    <span style="display: inline-block;color: #2196F3">发布</span>
</a>
<div id="use_inner_content" class="modal_content">
    <div class="modal-contentbox">
        暂无资料
    </div>
</div>