<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        用户管理-添加
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <script src="js/jquery.js"></script>
    <link rel="stylesheet" href="./css/x-admin.css" media="all">
</head>

<body>
<div class="x-body">
    <form class="layui-form" ><!--action="/User_management/user_management_add" method="post"-->
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                <span class="x-red">*</span>用户名</label>
            <div class="layui-input-inline">
                <input type="text"  name="username"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_pass" class="layui-form-label">
                <span class="x-red">*</span>密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="L_pass" name="password" required lay-verify="pass"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_username" class="layui-form-label">
                <span class="x-red">*</span>性别
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_username" name="sex"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <input type="button" id="addnew" value="提交">
            <!--<button  class="layui-btn" lay-filter="add" lay-submit="">
                增加
            </button>-->
        </div>
    </form>
</div>
<script src="./lib/layui/layui.js" charset="utf-8">
</script>
<script src="./js/x-layui.js" charset="utf-8">
</script>
</body>
<script>
    $(function () {
        $('#addnew').click(function() {
            $.post(
                    'user_management_add', //对应node端routes\login.js处理逻辑
                    $('form').serialize(), //post的数据，node端用req.body解析
                    function (data)
                    {
                        if(data)
                        {
                            alert('增加成功');
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                            window.parent.location.reload();
                        }
                        else
                        {
                            alert('增加失败');
                        }
                    });
        });
    })

</script>
</html>