{{css "/css/user.css"}}
<div id="use_inner_content" class="modal_content">
    <div class="sort-bar">
        <div class="sort-top">
            <ul>
                <li data-id="0" class="sort-li">
                    <a href="#" class="sort-a-active">
                        全部
                    </a>
                </li>
                <li data-id="1" class="sort-li">
                    <a href="#" class="sort-a">
                        美图
                    </a>
                </li>
                <li data-id="2" class="sort-li">
                    <a href="#" class="sort-a">
                        故事
                    </a>
                </li>
                <li data-id="3" class="sort-li">
                    <a href="#" class="sort-a">
                        手工艺
                    </a>
                </li>
            </ul>
        </div>
        <a id="user-create" href="#" class="create-2">
            <img style="width: 50px;display: inline-block;height: 50px" src="images/tp_user/我的发布.png">
            <span style="display: inline-block;color: #2196F3">发布</span>
        </a>
    </div>
    <div class="modal-contentbox">
        暂无作品
    </div>
</div>