/*框架*/
.case_011
{
    margin-top: 650px;
    width: 100%;
    height: 820px;
    position: relative;
    /*border:5px dashed #6f60ff;*/
}
.case_02
{
    width: 100%;
    height: 790px;
    position: relative;
    /*border:5px dashed orangered;*/
}
.case_03
{
    width: 100%;
    height: 620px;
    position: relative;
    /*border:5px dashed #ff35dd;*/
}
.case_04
{
    width: 100%;
    height: 550px;
    position: relative;
    /*border:5px dashed #5bc7ff;*/
}
/*footer*/
/*{*/
    /*width: 100%;*/
    /*height: 500px;*/
    /*position: relative;*/
    /*border:2px dashed #aa6bcd;*/
    /*background: url("../images/tp_su/底栏背景.png");*/
/*}*/
/*框架*/

/*标题*/
.biaoti
{
    font-size: 48px;
    margin:70px auto 30px;
    width: fit-content;
    color: rgb(92,90,90);
    /*border: 2px solid blueviolet;*/
}
.sua
{
    position: relative;
    width: 1720px;
    height: 700px;
    /*border: 2px solid #5ced50;*/
    margin: 0 auto;
}
.sub
{
    position: relative;
    width: 1794px;
    height: 700px;
    /*border: 2px solid #ed9586;*/
    margin: 0 auto;
}
.suc
{
    position: relative;
    width: 1750px;
    height: 500px;
    /*border: 2px solid #d8edd0;*/
    margin: 0 auto;
}
.sud
{
    position: relative;
    width: 1740px;
    height: 500px;
    /*border: 2px solid #b67eed;*/
    margin: 0 auto;
}
.sud img
{
    margin: 10px;
}
/* 标题*/

